<!DOCTYPE html>
<html ng-app='liveWeb'>
  <head>
    <meta charset="utf-8" />
    <title>Live Web</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  </head>
  <body>
  <div class="container" id='app-header-container'>
    <img alt="Small_icon" id="app-header-icon" src="./assets/Binoculars_60.png">
    <h1 id="app-header-title"> Live Web </h1>
  </div>

  <section class="hidden" id="liveNotify">
  <div id="noVisitors">
  <div class="visit">
  <a href="#" action="visit-store" target="_blank"><img alt="Purple_store" src="./assets/Home_55.png"></a></div>
  <h2 id='live-notify-header1'>
  <strong id='live-notify-header'>Welcome to your Live Web page!</strong>
  </h2>  
  </section>
  <section class="ng-scope" id="ng-app" style="min-height: 1000px;">
    <ul id="navList" ng-controller="tabsController" ng-style="{height: 46 * (num_tabs + 1) + &#39;px&#39;}" class="ng-scope" style="height: 184px; width:250px">
<div id='feeds-header'>
  Live Customer Feed
</div>
<hr/>
</a>
</li>
<div id='feeds' ng-repeat="feed in feeds">
  <div id='feed' ng-click='getCustomerInfo(feed.ip)'> {{ feed.displayString }}</div>
  <hr/>
</div>
<div id="liveBody" >
  Customer info
</div>
<!-- ngRepeat: tab in tabs | orderTabs | limitTo:num_tabs -->
</ul>

  </section>
    <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
    <div ng-view></div>




    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>

    <script src="app/services.js"></script>
    <script src="lib/jquery-3.1.1.min.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>